<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/dark.css">
    <link rel="stylesheet" href="~/Content/StyleLayout.css">
    <link rel="stylesheet" href="~/Content/font-awesome.css">
    <link rel="stylesheet" href="~/Content/bootstrap-social.css">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
</head>
<body style="background:#edeef0;overflow-x:hidden;">
    <nav class="navbar proxy-navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header" id="HeaderOnIndex">
                @Html.ActionLink("HOW TO DO", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div> 
            @Html.Partial("_LanguagePartial")
            @Html.Partial("_LoginPartial")
            @Html.Partial("_SearchPartial")
        </div>
        </nav>
        <div id="main-container" style="min-height:90%;" class="container body-content">
            @RenderBody()
        </div>
    @using Microsoft.AspNet.Identity
@if (ViewContext.RouteData.Values["action"].ToString() == "Index")
{
    <div id="button-for-add-instruction">
            @Html.Partial("_AddInstructionButtonPartial")
    </div>
}
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

</body>
</html>
