@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
    <ul class="dropdown nav navbar-nav navbar-right">
        <li id="li-language">
            <a data-toggle="dropdown" class="proxy-chooselanguage">
                <img width="20" height="20" src="~/image/user.png">
                <span class="caret"> </span>
            </a>
            <ul class="dropdown-menu" id="proxy-dropdown-menu-color">
                <li><a href="@Url.Action("Profile", "Profile")">@Res.ResourceIndex.Profile</a></li>
                <li><a href="@Url.Action("History", "Instructions")">@Res.ResourceIndex.History</a></li>
                @if (User.IsInRole("admin"))
                {
                    <li><a href="@Url.Action("Users", "Profile")">@Res.ResourceIndex.Users</a></li>
                }
                <li><a href="javascript:document.getElementById('logoutForm').submit()">@Res.ResourceIndex.SignOut</a></li>
            </ul>
        </li>
    </ul>
    }
}
else
{
    <ul class="dropdown nav navbar-nav navbar-right">
        <li id="li-language">
            <a data-toggle="dropdown" class="proxy-chooselanguage"><span class="glyphicon glyphicon-user"></span> @Res.ResourceIndex.SignIn</a>
            <ul class="dropdown-menu" id="proxy-dropdown-menu-color">
                <li>
                    <div id="icon-social">
                        <a class="btn btn-social-icon btn-facebook" href="@Url.Action("ExternalLogin", "Account",new { provider="Facebook",returnUrl= Request.Url.ToString() })">
                            <span class="fa fa-facebook"></span>
                        </a>
                        <a class="btn btn-social-icon btn-google" href="@Url.Action("ExternalLogin", "Account",new { provider="Google",returnUrl= Request.Url.ToString() })">
                            <span class="fa fa-google"></span> 
                        </a>
                        <a class="btn btn-social-icon btn-twitter" href="@Url.Action("ExternalLogin", "Account",new { provider="Twitter",returnUrl= Request.Url.ToString() })">
                            <span class="fa fa-twitter"></span> 
                        </a>
                        <a class="btn btn-social-icon btn-vk" href="@Url.Action("ExternalLogin", "Account",new { provider="Vkontakte",returnUrl= Request.Url.ToString() })">
                            <span class="fa fa-vk"></span> 
                        </a>

                    </div>
                </li>
            </ul>
        </li>
    </ul>
}
