@model HowToDoIt.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Регистрация";
}
@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text-info">
        @Res.ResourceProfile.Sucsess1 <strong>@ViewBag.LoginProvider</strong>
            @Res.ResourceProfile.Sucsess2
    </p>
    <div class="form-group">
        <label class="col-md-3 control-label" for="Email">@Res.ResourceProfile.Email</label>
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <input type="submit" class="btn btn-default" value="@Res.ResourceProfile.Registration" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
