@model HowToDoIt.Models.Classes_for_Db.Step
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/StyleInstrucions.css">
<link rel="stylesheet" href="~/Content/jquery-ui.css">
<script src="~/Scripts/jquery-ui.min.js"></script>
<link rel='stylesheet' href='~/Content/InstructionButton/StyleStep.css'>
<input type="hidden" id="id-step"  value="@ViewBag.IdStep">
<input type="hidden" id="id-instruction"  value="@ViewBag.IdInstruction">
<input type="hidden" id="step"  value="@ViewBag.Step">
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="elem-in-center">
            <h1 class="text-muted">Добавить шаг</h1>
        </div>
    </div>
</div>

<div class="row margin-top-30">
    <div class="col-md-offset-2 col-md-8">
        <input id="header"  class="form-control" placeholder="Заголовок" type="text" value="@Model.Name">
    </div>
</div>
<div class="content">
    @if (ViewBag.Blocks != null)
    {
        foreach (var block in ViewBag.Blocks)
        {
            <div class="block">
                <div class="row margin-top-30">
                    <div class="col-md-offset-2 col-md-8 entity">
                        @if (block.Type == "Text")
                        {
                            <textarea id="simple-text" class="form-control simple-text" type="text">@block.Name</textarea>
                        }
                        @if (block.Type == "Image")
                        {
                            <div class="profile elem-in-center">
                                <div class="profile-avatar-wrap">
                                    <img src="@Url.Content(block.Name)" class="profile-avatar">
                                </div>
                            </div>
                        }
                    </div>
                    <div class="margin-left-1 col-md-offset-10 col-md-1">
                        <i class=" fa fa-times fa-lg icon-remove" aria-hidden="true"></i>
                    </div>
                </div>
                @if (block.Type == "Video")
                {
                    <div class="form-group ">
                        <label class="col-md-offset-2 col-md-2 control-label">Link on youtube</label>
                        <div class="col-md-6">
                            <input class="form-control link-youtube" name="link-youtube-name" type="text" value="@block.Name">
                        </div>
                    </div>
                }
            </div>
        }
    }

</div>

<div class="row margin-top-30">
    <div class="col-md-offset-4 col-md-4">
        <div class="elem-in-center">
            <button class="btn btn-success margin-button"><span onclick="AddText()" class="glyphicon glyphicon-pencil icon-step"></span></button>
            <button class="btn btn-success margin-button"><span onclick="AddImg()" class="glyphicon glyphicon-picture icon-step"></span></button>
            <button class="btn btn-success margin-button"><span onclick="AddVideo()" class="glyphicon glyphicon-play-circle icon-step"></span></button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <div class="elem-in-center">
            <button type="button" class="btn btn-primary button-save">Сохранить</button>
        </div>
    </div>
</div>


<script>
    var srcimg = "/image/img-ru.bmp";

    function CheckVideo(entity, Step, block) {
        var object = new Object();
        object.Type = "Video";
        var iframe = block.getElementsByClassName("link-youtube")[0];
        if (iframe != null) {
            object.Name = $(iframe).val();
            object.StepId = $("#id-step").val();
            Step.Blocks.push(object);
        }
    }

    function CheckText(entity, Step) {
        var object = new Object();
        object.Type = "Text";
        var text = entity.getElementsByClassName("simple-text")[0];
        if (text != null) {
            object.Name = $(text).val();
            object.StepId = $("#id-step").val();
            Step.Blocks.push(object);
        }
    }

    function CheckImage(entity, Step) {
        var object = new Object();
        object.Type = "Image";
        var image = entity.getElementsByClassName("profile-avatar")[0];
        if (image != null) {
            object.Name = $(image).attr("src");
            object.StepId= $("#id-step").val();
            Step.Blocks.push(object);
        }
    }

    function CheckEntity(entity, Step, block) {
        CheckVideo(entity, Step, block);
        CheckText(entity, Step);
        CheckImage(entity, Step);
    }

    function GetEntityAndCheck(Step) {
        var entity = document.getElementsByClassName('entity');
        var block = document.getElementsByClassName('block');
        for (var i = 0; i < entity.length; i++) {
            CheckEntity(entity[i], Step, block[i]);
        }
    }

    function GetAnotherData(Step) {
        Step.Id = $("#id-step").val();
        Step.Number = $("#step").val();
        Step.Name = $("#header").val();
    }

    $('body').on('click', '.button-save', function () {
        var Step = new Object();
        Step.Blocks = [];
        GetEntityAndCheck(Step);
        GetAnotherData(Step);
        SendAsAjax(Step, "Instructions", "SaveStep");
        window.location.href = '/Instructions/Instruction/?instructionid=' + $("#id-instruction").val();
    });

    $(".profile-avatar-wrap").droppable({
        drop: function (event, ui) {
            $(this).css({ "border-color": "lightblue", "border-weight": "5px", "border-style": "dashed" });
        }
    });


    function GetEntity(input) {
        var block = $(input).parent().parent().parent();
        var entity = $(block).find(".entity");
        $(entity).empty();
        return entity;
    }

    $('body').on('change', '.link-youtube', function () {
        var entity = GetEntity(this);
        var code = $(this).val().split('=')[1];
        $('<iframe src="' + 'http://www.youtube.com/embed/' + code + '" frameborder="0" allowfullscreen"></iframe>').appendTo($(entity));
    });
    $('body').on('click', '.icon-remove', function () {
        var block = $(this).parent().parent().parent();
        block.remove();
    });

    $('.content').sortable();

    function AddVideo() {
        $('<div class="block"><div class="row margin-top-30"><div class="col-md-offset-2 col-md-8 entity"></div><div class="margin-left-1 col-md-offset-10 col-md-1"><i class=" fa fa-times fa-lg icon-remove" aria-hidden="true"></i></div></div><div class="form-group "><label class="col-md-offset-2 col-md-2 control-label">Link on youtube</label><div class="col-md-6"><input  class="form-control link-youtube" name="link-youtube-name" type="text"></div></div></div>').appendTo($('.content'));
    }
    function AddImg() {
        $('<div class="block"><div class="row margin-top-30"><div class="col-md-offset-2 col-md-8 entity"><div class="profile elem-in-center"><div class="profile-avatar-wrap"><img id="addimg" class="profile-avatar"><input type="hidden" id="info" name="info"></div></div> </div><div class="margin-left-1 col-md-offset-10 col-md-1"><i class=" fa fa-times fa-lg icon-remove" aria-hidden="true"></i></div></div></div>').appendTo($('.content'));
        $('#addimg').attr("src", srcimg);
        $('.profile-avatar').removeAttr('id');
    }

    function AddText() {
        $('<div class="block"><div class="row margin-top-30"><div class="col-md-offset-2 col-md-8 entity"><textarea id="simple-text" class="form-control simple-text" type="text"></textarea></div><div class="margin-left-1 col-md-offset-10 col-md-1"><i class=" fa fa-times fa-lg icon-remove" aria-hidden="true"></i></div></div ></div >').appendTo($('.content'));
    }

    function SendAsAjax(data, controller, action) {
            var path = '/' + controller + '/' + action + '/';
            $.ajax({
                type: "POST",
                url: path,
                data: data,
                success: function (response) {
                },
            });
        }
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="~/Scripts/dowland/stepresample.js"></script>
<script src="~/Scripts/dowland/step.js"></script>
