@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/StyleInstrucions.css">
<link rel="stylesheet" href="~/Content/StyleViewInstruction.css">
<h1 class="text-muted elem-in-center">@Res.ResourceProfile.Instructions</h1>
<div class="header-div">
    <div class="pricing-table-sort pricing-three-column-sort ">
        <div class=" plan-sort">
            <ul class="nav nav-pills margin-left-5">
                <li role="presentation" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        @Res.ResourceInstructions.Category <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        @for (int i = 0; i < ViewBag.Categories.Length; i++)
                        {
                            <li><a class="sort-click" href="@Url.Action("FilterByCategory", "Instructions", new {idCategory= ViewBag.Categories[i].Id })">@ViewBag.Categories[i].Name</a></li>
                        }
                    </ul>
                </li>
                <li role="presentation" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        @Res.ResourceInstructions.Sort <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Sorting", "Instructions", new {nameClass= "HowToDoIt.Models.Sort.SortingByAlphabet" })">@Res.ResourceInstructions.Alphabetically</a></li>
                        <li><a href="@Url.Action("Sorting", "Instructions", new {nameClass= "HowToDoIt.Models.Sort.SortingByDate" })">@Res.ResourceInstructions.ByDate</a></li>
                        <li><a href="@Url.Action("Sorting", "Instructions", new {nameClass= "HowToDoIt.Models.Sort.SortingByRating" })">@Res.ResourceInstructions.ByRating</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="scrolList">
    @Html.Partial("_ViewInstructionPartial")
</div>

<div id="loading" class="elem-in-center"><img src='@Url.Content("~/image/spinner.gif")'></div>

<script>
    $(function () {
        $('div#loading').hide();
        var page = 0;
        var _inCallback = false;

        function loadItems() {
            if (page > -1 && !_inCallback) {
                _inCallback = true;
                page++;
                $('div#loading').show();

                $.ajax({
                    type: 'GET',
                    url: '/Instructions/ViewInstructions/' + page,
                    success: function (data, textstatus) {
                        if (data != '') {
                            $("#scrolList").append(data);
                        }
                        else {
                            page = -1;
                        }
                        _inCallback = false;
                        $("div#loading").hide();
                    }
                });
            }
        }

        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {

                loadItems();
            }
        });
    })
</script>

@section Scripts {
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
}