@using Microsoft.AspNet.Identity
@using HowToDoIt.Models.Classes_for_Db
@model HowToDoIt.Models.Classes_for_Db.Instruction
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/blog-post.css">
<link rel="stylesheet" href="~/Content/InstructionButton/StyleViewInstruction.css">
<link rel="stylesheet" href="~/Content/StyleViewInstruction.css">
<link href="~/Content/bootstrap-rating.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="row">
            <h1 class="col-md-10">@Model.Name</h1>
            @if (Request.IsAuthenticated)
            {
                <div class="col-md-2">
                    <div style="margin-top:2.5em;">
                        @Html.BootstrapRating()
                    </div>
                </div>
            }
        </div>

        <div class="row" style="height:30px;">
            <p class="lead col-md-10">
                create <a href="@Url.Action("OpenProfile", "Profile", new {idInstruction= Model.Id })">@Model.User.UserName</a>
            </p>
            @if (Request.IsAuthenticated)
            {
                <div class="col-md-2">
                    <div class="align-right">
                        @if ((Model.User.UserName == User.Identity.Name) || (User.IsInRole("admin")))
                        {
                            <a href="@Url.Action("Instruction", "Instructions", new {instructionid= Model.Id })"><i class="fa fa-pencil fa-lg icon-style" aria-hidden="true"></i></a>
                        }
                        @if (User.IsInRole("admin"))
                        {
                            <a href="@Url.Action("DeleteInstruction", "Instructions", new {instructionid= Model.Id })"><i class="fa fa-trash-o fa-lg icon-style" aria-hidden="true"></i></a>
                        }
                    </div>
                </div>
            }
        </div>
        <hr>
        <p><span class="glyphicon glyphicon-time"></span> Posted on @Model.Date</p>
        <p class="inline-block">
            <i class="fa fa-tags" aria-hidden="true"></i>
            Теги:
            @for (int i = 0; i < Model.Tags.Count; i++)
            {
                <a href="@Url.Action("SearchTag", "Instructions", new {idTag= (((IList<Tag>)Model.Tags)[i].Id) })" class="link color">@(((IList<Tag>)Model.Tags)[i].Name)</a>
                if (i != Model.Tags.Count - 1)
                {
                <p class="inline-block">, </p>
                }
            }
            </p>
            <hr>

            @foreach (var step in Model.Steps)
            {
                <h3 style="margin-top:50px; text-indent: 50px;"><strong> Шаг @step.Number: @step.Name</strong></h3>
                foreach (var block in step.Blocks)
                {
                    if (block.Type == "Text")
                    {
                        <p class="text-block">@block.Name</p>
                    }
                    if (block.Type == "Image")
                    {
                        <div class="elem-in-center margin-top-30">
                            <img class="img-thumbnail rounded" src="@Url.Content(block.Name)" style="width:60%;">
                        </div>
                    }
                    if (block.Type == "Video")
                    {
                        <div class="elem-in-center margin-top-30">
                            <iframe src="@("http://www.youtube.com/embed/"+ block.Name.Split('=')[1])" frameborder="0" allowfullscreen"></iframe>
                        </div>
                    }
                }
                <hr>
            }
            <h2>Комментарии:</h2>
            @foreach (var comment in Model.Comments)
            {
                <div class="media">
                    <a class="pull-left" href="@Url.Action("OpenProfileFromComent", "Profile", new {idUser= comment.UserId })">
                        <img class="media-object" width="64" src="@Url.Content(comment.User.Profil.Avatar)" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a class="link color" href="@Url.Action("OpenProfileFromComent", "Profile", new {idUser= comment.UserId })">@comment.User.UserName</a>
                            <small>@comment.Date</small>
                        </h4>
                        @comment.Text
                    </div>
                </div>
            }
            <div id="before-insert" class="margin-bottom-30"></div>
            @if (Request.IsAuthenticated)
            {
                <div class="media-body">
                    <div class="well well-lg margin-top-30">
                        <h4>Leave a Comment:</h4>
                        @using (Ajax.BeginForm("AddComment", "Instructions", null, new AjaxOptions() { OnSuccess = "SuccessAjaxForm" }, null))
                        {
                            <input type="hidden" name="idInstruction" value="@Model.Id">
                            <div class="form-group">
                                <textarea id="text-content" style="max-width:100%;" name="content" class="form-control" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        }
                    </div>
                </div>
            } 
        </div>
    </div>


    
    <script>
    $(function () {
        var instructionId=@Model.Id;

        var hub = $.connection.commetsHub;

        $.connection.hub.start()
                .done(function () {
                    hub.server.openInstruction(instructionId);
            });

        hub.client.createComment = function (avatar, userName, date, text, idUser) {
            $('#before-insert').before('<div class="media"><a class="pull-left" href="/Profile/OpenProfileFromComent/?idUser=' + idUser + '"><img class="media-object" width="64" src="' + avatar + '" alt=""></a><div class="media-body"><h4 class="media-heading"><a class="link color" href="/Profile/OpenProfileFromComent/?idUser=' + idUser + '">' + userName +' '+ '</a><small>' + date+'</small></h4>'+text+'</div></div>');
        }

        function SendRequestAsUrl(url) {
            $.ajax({
                url: url,
                type: "POST",
                success: function (response) {
                },
            });
        }

        $('.rating-tooltip').rating({
            extendSymbol: function (rate) {
                $(this).tooltip({
                    container: 'body',
                    placement: 'bottom',
                    title: 'Valor ' + rate
                });
            }
        });

        var fl = true;
        var countStar = 0;
        @if (ViewBag.Rating!=null)
        {
            <text>
                $('.rating').val(@ViewBag.Rating.Mark);
                $('.rating').on('change', function () {
                    $(this).val(@ViewBag.Rating.Mark);
                });
            </text>
        }
        else
        {
            <text>
                $('.rating').on('change', function () {
                    if (fl) {
                        SendRating(this);
                    }
                    else {
                        $(this).val(countStar);
                    }
                });
            </text>
        }


        function SendRating(p) {
            fl = false;
            $(p).next('.label').text($(p).val());
            countStar = $(p).val();
            SendRequestAsUrl("/Instructions/Rating/?countStar=" + countStar + '&instructionid=' + instructionId);
        }
    });
    </script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    @section Scripts {

        <script type="text/javascript">
            var SuccessAjaxForm = function () {
                $('#text-content').val("");
            }
        </script>
        @Scripts.Render("~/Scripts/jquery.signalR-2.2.2.min.js")
        @Scripts.Render("/signalr/hubs")
        @Scripts.Render("~/Scripts/bootstrap-rating/bootstrap-rating.min.js")

    }



