@model HowToDoIt.Models.Classes_for_Db.Profil
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel='stylesheet' href='~/Content/InstructionButton/StyleFromGit.css'>


<h1 class="elem-in-center margin-bottom-30">@Res.ResourceProfile.PersonalInfo</h1>
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-md-2 control-label">@Res.ResourceProfile.Avatar</label>
        <div class="col-md-10">
            <div class="profile">
                <div class="profile-avatar-wrap">
                    <img style="border-radius:5px;"  id="profile-avatar" src= "@Url.Content(Model.Avatar)" alt="Image for Profile">
                    <input type="hidden" id="info" name="info" value="@Model.Id">
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" >@Res.ResourceProfile.FirstName</label>
        <div class="col-md-5">
            <input id="firstName" class="form-control" type="text" value="@Model.FirtstName">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">@Res.ResourceProfile.LastName</label>
        <div class="col-md-5">
            <input id="lastName" class="form-control" type="text" value="@Model.LastName">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">@Res.ResourceProfile.Sex</label>
        <div class="col-md-5">
            @if (Model.Sex == "man")
            {
                <label class="radio-inline"><input id="man" type="radio" checked name="optradio">@Res.ResourceProfile.Man</label>
                <label class="radio-inline"><input id="woman" type="radio" name="optradio">@Res.ResourceProfile.Woman</label>
            }
            else
            {
                <label class="radio-inline"><input id="man" type="radio"  name="optradio">@Res.ResourceProfile.Man</label>
                <label class="radio-inline"><input id="woman" type="radio" checked name="optradio">@Res.ResourceProfile.Woman</label>
            }
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">@Res.ResourceProfile.City</label>
        <div class="col-md-5">
            <input id="city" class="form-control" type="text" value="@Model.City">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">@Res.ResourceProfile.Contacts</label>
        <div class="col-md-5">
            <textarea id="contact" class="form-control" type="text" >@Model.Contacts</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">@Res.ResourceProfile.Interests</label>
        <div class="col-md-5">
            <textarea id="interest" class="form-control" type="text" >@Model.Interests</textarea>
        </div>
    </div>
</form>



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="~/Scripts/dowland/resample.js"></script>
<script src="~/Scripts/dowland/avatar.js"></script>
<script>
    $('input, textarea').on('change', function () {
        SendData();
    });
    $('img').on('load', function () {
        SendData();
    });

    function SendData() {
        var object = new Object();
        GetDataFromInput(object);
        GetSex(object);
        SendAsAjax(object);
    };

    function GetSex(object) {
        var inp = document.getElementsByName('optradio');
        for (var i = 0; i < inp.length; i++) {
            if (inp[i].type == "radio" && inp[i].checked) {
                object.Sex = inp[i].id;
            }
        }
    }

    function SendAsAjax(data) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveProfileData", "Profile")',
            data: data,
            success: function (response) {
            },
        });
    }

    function GetDataFromInput(object) {
        object.FirtstName = $("#firstName").val();
        object.LastName = $("#lastName").val();
        object.City = $("#city").val();
        object.Contacts = $("#contact").val();
        object.Interests = $("#interest").val();
        object.Avatar = $('#profile-avatar').attr('src');
        object.Id = $("#info").val();
    }
</script>

